<%= render partial: "shared/log_out" if current_user %>
<%= render partial: "shared/log_in" unless current_user %>
<div class="logo-playlist-page">
  <%=link_to(image_tag("TrainTracksLogo2.png", height: "20%", width: "20%"), root_path) %>
</div>
<h4 class='playlist-title'> <%="#{@user.name}'s Playlists"%></h4>
<% @user.playlists.each do |playlist| %>
<div class="playlist-table">
  <div class="row">
    <div class="col-lg-2 song-album">
      <%= image_tag('tswift-album.png', height: '77px', width: '77px') %>
    </div>
    <div class="col-lg-2 playlist-songs">
      <p><%= playlist.name %></p>
    </div>
    <div class="col-lg-1 playlist-bpm">
      <%= playlist.intensity%>
    </div>
    <div class="col-lg-1 playlist-length">
      <%= playlist.length %>
    </div>
  </div>
    <hr>
</div>
<% end %>
