<%= render partial: "shared/log_out" if current_user %>
<%= render partial: "shared/log_in" unless current_user %>
<div class="logo-playlist-page">
  <%=link_to(image_tag("TrainTracksLogo2.png", height: "20%", width: "20%"), root_path) %>
</div>
<h4 class='playlist-title'> <%="#{@user.name}'s Playlists"%></h4>
<div style="clear:both;"></div>
<% @user.playlists.each do |playlist| %>
<div class="playlist-table">
  <div class="row">
    <div class="col-lg-2 song-album">
      <%= link_to(image_tag(playlist.tracks.first.spotify_album_image, height: '90px', width: '90px'), playlist_path(playlist) ) %>
    </div>
    <div class="col-lg-2 playlist-songs">
      <p><%=link_to playlist.name, playlist_path(playlist) %></p>
    </div>
    <div class="col-lg-1 playlist-bpm">
      <%=link_to "#{playlist.intensity} BPM", playlist_path(playlist)%>
    </div>
    <div class="col-lg-1 playlist-length">
      <%=link_to "#{playlist.length} minutes", playlist_path(playlist) %> &
      <%=link_to "#{playlist.tracks.count} Tracks", playlist_path(playlist) %>
    </div>
</div>
    <hr>
</div>
<% end %>
