<%= render partial: "shared/log_out" if current_user %>
<%= render partial: "shared/log_in" unless current_user %>
<div class="logo-playlist-page">
  <%=link_to(image_tag("TrainTracksLogo2.png", height: "20%", width: "20%"), root_path) %>
</div>
<div style="clear:both;"></div>
<div class="playlist-topping">
  <h4 class='playlist-title'> <%="#{@playlist.intensity.downcase} intensity playlist"%></h4>
  <%= link_to "Save Playlist", playlist_path(@playlist), method: :put, class: 'btn btn-default btn-lg save-playlist' if current_user && @playlist.user_id.nil? %>
</div>
<div style="clear:both;"></div>
<% @playlist.tracks.each do |track| %>
<div class="playlist-table">
  <div class="row">
    <div class="col-lg-2 song-album">
      <%= image_tag('tswift-album.png', height: '77px', width: '77px') %>
    </div>
    <div class="col-lg-2 playlist-songs">
      <p><%= track.spotify_artist_name %></p>
      <p><span class="playlist-song-title"> <%= track.spotify_track_name %></span></p>
    </div>
    <div class="col-lg-1 playlist-bpm">
      <%= "#{track.avg_bpm} BPM"%>
    </div>
    <div class="col-lg-1 playlist-length">
      <%= (Time.at(track.length).utc.strftime('%_M:%S')) %>
    </div>
  </div>
    <hr>
</div>
<% end %>
