<%= render partial: "shared/log_out" if current_user %>
<%= render partial: "shared/log_in" unless current_user %>
<div class="logo-playlist-page">
  <%=link_to(image_tag("TrainTracksLogo2.png", height: "20%", width: "20%"), root_path) %>
</div>
<div style="clear:both;"></div>
<div class="spotify_track_player">
  <iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:<%= @playlist.get_track_ids %>" frameborder="0" allowtransparency="true"></iframe>
</div>
<div class="playlist-topping">
  <% if current_user.nil? && @playlist.name.nil? %>
    <h4 class='playlist-title'> <%="#{@playlist.intensity.downcase} intensity playlist"%></h4>
  <% elsif @playlist.name.nil? %>
    <%= form_tag playlist_path(@playlist), method: :put, :class => "form-inline" do %>
      <%= text_field_tag :name, params[:query], class: 'playlist-title form-title', placeholder: "Name Your Playlist" %>
      <%= submit_tag "Save Playlist", name: nil, class: "btn btn-default btn-lg save-playlist" %>
    <% end %>
  <% else %>
    <h4 class='playlist-title'> <%="#{@playlist.name}"%></h4>
    <%= button_to "Save Playlist to Spotify", spotify_playlist_path(@playlist), class: "btn btn-default btn-lg save-playlist" unless @playlist.saved_to_spotify? %>
  <% end %>
</div>
<div style="clear:both;"></div>
<% @playlist.tracks.each do |track| %>
<div class="playlist-table">
  <div class="row">
    <div class="col-lg-2 song-album">
      <%= link_to(image_tag(track.album_display_image, height: '70%', width: '70%'), track.spotify_album_url, :target => "_blank") %>
    </div>
    <div class="col-lg-2 playlist-songs">
      <p><%= link_to(track.spotify_artist_name, track.spotify_artist_url, :target => "_blank") %></p>
      <p><span class="playlist-song-title"> <%= link_to(track.spotify_track_name, track.spotify_track_url, :target => "_blank") %></span></p>
    </div>
    <div class="col-lg-1 playlist-bpm">
      <%= "#{track.avg_bpm} BPM"%>
    </div>
    <div class="col-lg-1 playlist-length">
      <%= prettify_milliseconds(track.length) %>
    </div>
  </div>
    <hr>
</div>
<% end %>
