<!DOCTYPE html>
<html>
<head>
  <title>TrainTracks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="errors">
    <% flash.each do |name, message| %>
      <p><%= (message).html_safe %></p>
    </div>
    <% end %>
  </div>
  <%= yield %>
  <%= render partial: "shared/footer" %>
</body>
</html>
